.Topics {
  background-color: #F7F8FA;
}

/* Container onde as questoes de um unico topico ficam 
  Pode existir varias secoes como essa na pagina de Topicos
*/
.Topics section.topic {
  border-radius: 4px;
  border: 1px solid #DEE2E6;
  background-color: white;
}

.Topics section.topic a {
  display: flex;
  margin-bottom: 0.5em;
}
