.Home section {
  margin-bottom: 3rem;
}

.Home section > header {
  margin-bottom: 1.5rem;
}

/* ? Summary section */

.SummaryCard-wrapper {
  display: flex;
  flex-direction: row;
}

.SummaryCard-wrapper > * {
  margin-right: 1rem;
}

/* ? History section */

