.Home section {
  margin-bottom: 3rem;
}

.Home section > header {
  margin-bottom: 1.5rem;
}

/* ? Summary section */

/* TODO: create a grid system for each card item */
.SummaryCard-wrapper {
  display: flex;
  flex-direction: row;
  
  gap: 1rem; /*does not work if it is not grid*/
}

/* ? History section */

