@charset "UTF-8";

:root {
  --secondary: #6C757D;
  --light: #F8F9FA;
  --dark: #343A40;
  --correct: #6EFF02;
  --incorrect: #ff1e00;
  --lightBorder: #E9ECEF;
}

/* * { border: 1px solid salmon; } */

body {
  background-color: #F7F8FA;
}

a { text-decoration: none; }
