/* ! AREA INSTRUCTION */
.Instruction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 16px 24px;
  padding-top: 24px;
  background-color: var(--light);
  border-right: 1px solid var(--lightBorder);
}

.Instruction .badge-tags {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  padding: 2px 6px;
  margin-right: 6px;
  color: #868E96;
  background-color: var(--lightBorder);
  border-radius: 4px;
}

/* ! AREA RESOLUTION */
.Resolution {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  padding: 16px 24px;
  background-color: white;
}

.Resolution header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 8px;
  padding-bottom: 16px;
  margin-bottom: 16px;

  border-bottom: 1px solid var(--lightBorder);
}

/* Container for the Answer and Feedback */
.Resolution .container-actions {
  display: flex;

  padding: 16px;
  border: 1px solid var(--lightBorder);
  border-radius: 4px;
}

.Resolution .container-actions button {
  margin-left: 4px;
}

.Resolution .container-actions.default {
  justify-content: flex-end;
}

.Resolution .container-actions.solved {
  justify-content: space-between;
  color: white;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
}

.Resolution .container-actions.solved .answer p {
  font-weight: 600;
  color: var(--correct);
  margin-bottom: 8px;
}

/* Box for where the correct answer is outputted */
.Resolution .container-actions.solved .answer > div {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
