.ViewQuestion {
  height: 100%;
}

.ViewQuestion > .row {
  height: 100%;
}

/* ! AREA INSTRUCTION */
.Instruction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 24px 32px;
  padding-top: 24px;
  background-color: rgb(250, 250, 250);
}

.Instruction .badge-tags {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  padding: 2px 6px;
  color: #868E96;
  background-color: var(--lightBorder);
  border-radius: 4px;
}

/* Code block */
pre {
  border-radius: 4px;
}

/* React Markdown creates another pre tag inside the existing pre tag */
pre > pre {
  padding-bottom: 0px !important;
}

/* ! AREA RESOLUTION */
.Resolution {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  padding: 24px 32px;
  border: var(--mainBorder);
}

.Resolution header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 16px;
  margin-bottom: 24px;

  border-bottom: var(--mainBorder);
}
